<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="DBConnection" connectionString="Data Source=PZAM00000987\\LOCALDB#68CA0042;Initial Catalog=DevTest;integrated security=True;Connection Timeout=3000; pooling='true'; Max Pool Size=3000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>